body {
    max-width: 700px;
    margin: auto;
    background-color: #0759A3;
    color: white;
      font-family: "Lato", sans-serif;
}

#navBar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px 5px 10px
}

#logo {
    width: 50px;
}

#navBar h3{
    margin-left: 10px;
    color: #0759A3;
}

#mainIndex{
    padding: 20px;
}

#mainIndex h4{
    margin:0%;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

video,
canvas {
    width: 100%;
    max-width: 320px;
    display: block;
    margin: 10px 0;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
}

.preview {
    margin-top: 10px;
    transform: scaleX(-1);
    width: 140px;
    height: 180px;
    background-color: white;
    border: black solid 2px;
    margin: 20px 0px 10px 0px;
}

video.selfie {
    transform: scaleX(-1);
    /* Flip preview only */
}

#video{
    margin: auto;
    padding: 10px 0px 10px 0px;
}

#name{
    margin-left: 10px;
}

#age{
    margin-left: 10px;
}