body {
    max-width: 700px;
    margin: auto;
    background-color: #0759A3;
    color: white;
    font-family: "Lato", sans-serif;
}

#navBar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px 5px 10px
}

#logo {
    width: 50px;
}

#navBar h3{
    margin-left: 10px;
    color: #0759A3;
}

#propIndex{
    padding: 20px;
}

#propIndex h4{
    margin:0%;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

video,
canvas {
    width: 100%;
    max-width: 320px;
    display: block;
    margin: 10px 0;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.gallery img {
    width: 100px;
    border: 1px solid #ccc;
}

.gallery img:hover {
  outline: 2px solid red;
}

#propertyName{
    margin-left: 10px;
}

#address{
    margin-left: 10px;
}

#propertyType{
    margin-left: 10px;
}

#carpetArea{
    margin-left: 10px
}

#floor{
    margin-left: 10px;
}

#furnishing{
    margin-left: 10px;
}

#ownerName{
    margin-left: 10px;
}

#phone{
    margin-left: 10px;
}